.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.header {
    background:	#29910f;
    
    text-align: center;  
    font-size: 52px;
    padding: 30px;  
    color: rgb(239, 232, 240);  
    font-style: italic;  
    font-weight: bold;
  }

.container{  
text-align: center;  

 
} 
.txt-center {
    text-align: center;
    margin: auto;
}
  .hide {
    display: none;
  }
  
  .clear {
    float: none;
    clear: both;
  }
  
  .rating {
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }
  
  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: #FFD700;
  }
  